input, select {
  width: 50%;
  padding: 4px 2px;
  margin: 2px 0;
  font-size: 1rem;
  font-family: monospace;
  box-sizing: border-box;
}
button {
  width: 50%;
  padding: 15px 15px;
  font-size: 1.5rem;
  font-family: monospace;
  background-color: #00a5c9;
}
label {
  font-size: 0.9rem;
  font-family: sans-serif;
  padding-right: 10px;
}
input, label {
  display:block;
}

@media only screen and (max-width: 800px), only screen and (orientation: portrait) {
  input, select, button {
    width: 100%;
  }
}

